.main_top {
  padding: 165px 0 150px 0;
  background-image: url(../../img/hero.png);
  background-repeat: no-repeat;
  background-position-x: 40%;
  background-size: cover;
}

.main_top__title {
  margin: 0;
  margin-bottom: 32px;
  max-width: 585px;
  font-family: "Yeseva One";
  font-weight: 400;
  font-size: 48px;
  line-height: 55px;
  color: #1f2b6c;
}

.main_top__btn {
  margin: 0;
  padding: 13px 35px;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #1f2b6c;
  background: #bfd2f8;
  border-radius: 50px;
  text-decoration: none;
  transition: 0.2s;
}

.main_top__btn:hover {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.menu {
  padding-top: 60px;
  padding-bottom: 60px;
}

.menu__container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.menu__title1 {
  margin: 0;
  margin-bottom: 15px;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.16em;
  text-transform: uppercase;
  text-align: center;
  color: #159eec;
}

.menu__title {
  margin: 0;
  margin-bottom: 35px;
  font-family: "Yeseva One";
  font-weight: 400;
  font-size: 40.6486px;
  line-height: 47px;
  text-align: center;
  color: #1f2b6c;
}

.menu__box {
  margin: 0;
  display: flex;
  justify-content: center;
}

.menu__list {
  margin: 0;
}

.menu__list1 {
  margin-left: 55px;
}

.menu__item-link {
  text-decoration: none;
  color: #159eec;
}

.menu__item {
  color: #159eec;
  margin-bottom: 5px;
}

.menu__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  margin-top: 20px;
  color: #159eec;
  text-decoration: none;
  text-align: center;
  font-weight: 400;
  font-size: 20px;
  line-height: 140%;
}

.menu__btn img {
  margin-left: 10px;
}

// HOURS  MAIN =========================================

.hours {
  padding: 60px 0;
}

.hours__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hours__left {
  width: 48%;
}

.hours__left img {
  width: 100%;
}

.hours__right {
  width: 48%;
}

.hours__box {
  background: #1f2b6c;
  border-radius: 5px;
  padding: 40px 45px;
}

.hours__list {
  margin: 0;
  padding: 0;
}

.hours__title {
  margin: 0;
  margin-bottom: 40px;
  font-family: "Yeseva One";
  font-weight: 400;
  font-size: 48px;
  line-height: 55px;
  color: #bfd2f8;
  text-align: center;
}

.hours__item {
  margin: 0;
  margin-bottom: 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #bfd2f8;
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  color: #fcfefe;
}

.hours__item_desc {
  margin: 0;
  min-width: 104px;
}

.hours__item_desc1 {
  margin: 0;
  min-width: 145px;
}

.hours__item1 {
  justify-content: flex-start;
}

.hours__item line {
  display: inline-block;
  max-width: 40px;
  max-height: 2px;
  padding: 0;
  color: #1f2b6c;
  background: #bfd2f8;
}

.hours__item div p {
  margin: 0;
  margin-left: 70px;
  display: inline-block;
}

// INFO MAIN ==========================================
.info {
  background-image: url(../../img/lupa.png);
  background-repeat: no-repeat;
  background-size: 120%;
  background-color: #a5bfce;
}

.info__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 105px 20px;
}

.info__title {
  max-width: 510px;
  margin: 0;
  margin-bottom: 18px;
  font-family: "Yeseva One";
  font-weight: 400;
  font-size: 32px;
  line-height: 37px;
  text-align: center;
  color: #1f2b6c;
}

.info__desc {
  max-width: 658px;
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  text-align: center;
  color: #212124;
}

@media only screen and (max-width: 902px) {
  .hours__container {
    flex-direction: column;
  }

  .hours__left {
    width: 90%;
    margin-bottom: 30px;
  }

  .hours__right {
    width: 70%;
  }
}

@media only screen and (max-width: 842px) {
  .main_top {
    padding-top: 100px;
    padding-bottom: 110px;
  }

  .main_top__title {
    margin-bottom: 32px;
    font-size: 40px;
  }

  .menu__title,
  .hours__title {
    font-size: 40px;
  }

  .info {
    background-size: 130%;
  }

  .info__container {
    padding: 60px 20px;
  }

  .info__title {
    font-size: 28px;
  }
}

@media only screen and (max-width: 623px) {
  .menu__list1 {
    margin-left: 0px;
  }

  .hours__right {
    width: 85%;
  }

  .hours__title {
    margin-bottom: 10px;
  }
}

@media only screen and (max-width: 566px) {
  .main_top__title {
    margin-bottom: 32px;
    max-width: 450px;
    font-size: 30px;
    line-height: 35px;
  }

  .menu__title,
  .hours__title {
    font-size: 30px;
  }

  .info__title {
    font-size: 24px;
    line-height: 26px;
    max-width: 400px;
  }
}

@media only screen and (max-width: 556px) {
  .menu__box {
    flex-direction: column;
  }

  .menu__title1 {
    margin-bottom: 0px;
  }

  .menu__title {
    margin-bottom: 15px;
  }

  .menu__item {
    margin: 0;
    padding: 0;
    height: 20px;
  }
}

@media only screen and (max-width: 530px) {
  .hours__right {
    width: 95%;
  }

  .hours__title {
    margin-bottom: 10px;
  }
}

@media only screen and (max-width: 474px) {
  .hours__box {
    padding: 20px 25px;
  }
}

@media only screen and (max-width: 418px) {
  .main_top__title,
  .menu__title,
  .hours__title {
    font-size: 26px;
  }

  .info__title {
    font-size: 20px;
    line-height: 23px;
    max-width: 400px;
  }

  .hours__item_desc {
    font-size: 16px;
    min-width: 87px;
  }

  .hours__item_desc1 {
    font-size: 16px;
    min-width: 120px;
  }
}

@media only screen and (max-width: 370px) {
  .hours__container {
    padding: 0;
  }

  .hours__right {
    width: 100%;
  }
}
